$color-dark-text-strong: #fff;
$color-light-bg: #f5f5f5;
$color-light-text: #222;
$color-dark-bg: #181818;
$color-dark-text: #f5f5f5;
$color-primario: #fcfcfd; // gris
$color-secundario: #000000; // negro
$color-terciario: #FF7948; // naranja
$color-fuente-title: #24262F;
$color-fuente-subtitle: #4E525A;